<h1 class="pagetitle-c">Get Points.</h1>
	
<div class="2col-300x500">
      <div class="col200">
          You can get points by buying them using money or by completing different offers.
      </div><!-- /col300 -->

      <div class="col700">
            <iframe width="700px" height="925px" src="http://pub.myofferpal.com/7fb6bf603992e3c0303cfe52a9367dc8/showoffers.action?snuid=<%=current_user.id %>"></iframe>
      </div>
</div><!-- /2col-300x500 -->
